# Port
PORT=

# jwt
JWT_SECRET=
JWT_TTL=15m               # short life, e.g. 15 minutes

# rate-limit
RATE_LIMIT_WINDOW_MS=60000   # 1 minute
RATE_LIMIT_MAX=15            # max 15 searches per minute per token

# cors
CORS_ORIGIN_DEV=
CORS_ORIGIN_TEST=
CORS_ORIGIN_STAGING=
CORS_ORIGIN_PROD=


#Milvus
MILVUS_ADDRESS=
MILVUS_USERNAME=
MILVUS_PASSWORD=

#Embedding Service
INFERENCE_PROVIDER= 
EMBEDDING_MODEL=
HUGGING_FACE_API_TOKEN=

# Wordpress
WP_API_URL=
WP_USE_CUSTOM_ENDPOINT=


# Search Config
THRESHOLD=0.81


# Auth 
SERVER_API_KEY=